*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    border: 0;
}

header{
    background-color: #1a1e26;
    margin: 0 auto;
    color: #fff;
}

header .header_wrap{
    width: 1197px;
    position: relative;
    margin: 0 auto;
}

header h1{
    text-align: center;
    padding: 10px 0;
}

header .util{
    display: flex;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 20px;
}

header .util li{
    display: flex;
    margin-right: 10px;
}

header .util li:last-child{
    margin-right: 0;
}

header .gnb{
    width: 1197px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    padding: 20px 0;
}

header .gnb li:hover{
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
}

/* mainbanner */

.banner{
    width: 1197px;
    margin: 0 auto;
}

.banner img{
    width: 100%;
}

.banner{
    position: relative;
    margin-bottom: 40px;
}

.banner .dots{
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.banner .dots li{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 12px;
}

.banner .dots li:last-child{
    margin-right: 0;
}

/* wrap - content */

.wrap{
    width: 1197px;
    margin: 0 auto;
    text-align: center;
}

.wrap h3{
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.wrap .txt p{
    text-decoration: line-through;
    color: #333;
}

.wrap .txt span{
    text-decoration: none;
    color: #fe006a;
}

.txt{
    display: flex;
    justify-content: center;
}


.wrap h6{
    font-size: 16px;
}

/* con1 */

.wrap .con1 .con1_in{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.wrap .con1 .box{
    width: calc(100% / 3);
    text-align: center;
}

.con1_in img{
    width: 373px;
}

/* con2 */

.wrap .con2 .con2_in{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.con2 .con2_in img{
    width: 287px;
}

.wrap .subbn{
    margin-bottom: 40px;
}

.wrap .subbn .subbn1{
    width: 1197px;
    height: 150px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5px;
    display: flex;
}

.subbn1 .bn1_left{
    height: 150px;
    width: 380px;
    margin: 11px 0;
}




.subbn1 .bn1_right{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subbn1 .bn1_right p{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.subbn1 .bn1_right .sns{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.subbn1 .bn1_right .sns > li{
    margin-right: 20px;
}

.subbn1 .bn1_right .sns > li:last-child{
    margin-right: 0;
}

.subbn1 .bn1_right .sns img{
    width: 53.5px;
}


.wrap .subbn .subbn2 img{
    width: 1176px;
}

.wrap .subbn{
    margin-bottom: 40px;
}

/* subcontent - cate */

.wrap .subcontent{
    display: flex;
    margin-bottom: 80px;
}

.wrap .subcontent .cate{
    width: 50%;
}
.wrap .subcontent .cate > ul{
    display: flex;
    justify-content: space-around;
}


.subcontent .cate > ul > li{
    position: relative;
}

.subcontent .cate img:hover{
    opacity: 0.3;
    transition: opacity 1s;
}

.subcontent span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    color: #000;
}

/* subcontent - pic */

.wrap .subcontent .pic{
    width: 50%;
}

.subcontent .pic img{
    width: 264.75px;
}


.subcontent .pic > ul{
    display: flex;
    justify-content: space-around;
}

.subcontent .pic h5{
    font-size: 16px;
    margin-bottom: 5px;
}

.subcontent .pic h5:hover{
    border-bottom: 1px solid #000;
}

.subcontent .pic p{
    font-size: 14px;
    text-align: left;
}


/* footer */

footer{
    width: 100%;
    background-color: #121212;
    color: #999;
    text-align: center;
    font-size: 11px;
}

footer .footer_wrap{
    width: 1197px;
    margin: 0 auto;;
}

footer .foot_bn img{
    width: 100%;
}

footer .foot_bn{
    padding-bottom: 60px;
}

footer .foot_util{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 10px;
}

footer .foot_util > div:after{
    content: 'ㅣ';
}

footer .foot_util > div:last-child:after{
    content: none;
}

footer .copy{
    margin: 10px 0 40px;
}

footer .foot_logo img{
    width: 71px;
}

footer .foot_logo{
    font-size: 18px;
}